@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
@import url('https://fonts.googleapis.com/css?family=La+Belle+Aurore|Open+Sans');

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --clr-black-3: #333;
  --mainGrey: #ececec;
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-brown: #382923;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: var(--mainBlack);
    font-family: 'Open Sans', sans-serif;
  background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 255, .6)), url('../images/bodyBcg.jpeg');
}

.section-padding{
  padding: 3rem 0;
}

.grid-container{
  max-width: 90vw;
  margin: 2rem auto;
  display: grid;
  grid-row-gap: 2rem;
}

@media screen and (min-width:768px){
  .grid-container{
    max-width: 75vw;
  }

  .grid-container--medium-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
  }
}

.section-title_underline{
  background: var(--primaryColor);
  width: 5rem;
  height: .25rem;
}

.bell-fonts {
  font-family: 'La Belle Aurore', cursive;
}

.section-title__name{
  font-size: 2.5rem;
  text-transform: capitalize;
}

.section-title_text{
  letter-spacing: var(--spacing);
  line-height: 1.5;
  margin-top: 1rem;
  color: var(--clr-grey);
  width: 35rem;
  font-family: 'Open Sans', sans-serif;
}

.section-title{
  padding: 1rem .5rem;
}

.section-title__left{
  margin-left: 10rem;
}

/* --------------- Animation ---------------- */

@keyframes show-navBar{
  0%{
    transform: scale(1)
  }

  50%{
    transform: scale(0.5);
  }

  100%{
    transform: scale(1);
  }
}

/* --------------- End of Animation ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- PreLoader ---------------- */
.preloader{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--mainWhite);
}

/* --------------- End of PreLoader ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Navbar ---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: var(--mainTransition);
  /* animation */
  animation: show-navBar 2s ease infinite;
}

.nav-icon:hover{
  color: var(--primaryColor);
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* --------------- End of Navbar ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Hero ---------------- */
.hero {
  min-height: calc(100vh - 60px);
  background: url("../images/Hero-bcg01.jpeg") center/cover no-repeat fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid var(--primaryColor);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
  border-radius: .5rem;
  margin-bottom: 2rem;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}

.link-btn{
  text-decoration: none;
}

.link-btn:hover{
  color: var(--primaryColor);
}

.banner-btn a{
  text-decoration: none;
  color: var(--mainBlack);
}
/* --------------- End of Hero ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- About ---------------- */



.about-container{
  display: grid; 
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
}

.about_img-item{
  width: 100%;
  display: block;
  height: 100%;
  border-radius: 50%;
}

@media screen and (min-width:768px){
  .about_img-special{
    order: -1;
  }

  .about-container{
    grid-template-rows: repeat(2, 1fr);
  }
}

/* --------------- End of About ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Products ---------------- */

.products {
  padding: 4rem 0;
  background: var(--clr-brown);
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 0rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
}

.products .section-title_underline{
  margin: 0 auto 2rem auto
  
}

.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}
.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
  border-radius: 2rem;
}
.img-container:hover .product-img {
  opacity: 0.5;
}

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 1rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  color: var(--primaryColor);
}

.product h4 {
  margin-top: 0.7rem;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  text-align: center;
  color: var(--mainWhite);
}

/* ---------------End of Products ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- navList ---------------- */

.navList-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}

.navList{
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5), var(--primaryColor));
  z-index: 3;
  transition: var(--mainTransition);
  /* hide navbar */
  transform: translateX(-100%);
}

.navList:hover{
  box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
}

.showNav{
  transform: translate(0%);
}

.navbar-header{
  text-align: right;
  padding-right: 1rem;
}

.nav-closer{
  font-size: 2.5rem;
  cursor: pointer;
  color:var(--mainWhite);
  transition: var(--mainTransition);
}

.nav-closer:hover{
  color: var(--primaryColor);
}

.nav-items{
  list-style-type: none;
}

.nav-link{
  display: block;
  font-size: 1.5rem;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  color: var(--clr-black-3);
  transition: var(--mainTransition);
  text-decoration: none;
}

.nav-link:hover{
  background: rgba(0, 0, 0, 0.2);
  color: var(--primaryColor);
  padding-left: 1.5rem;
  border-left: 0.25rem solid var(--primaryColor);
}

@media screen and (min-width:768px){
  .navList{
    width: 30%;
    max-width: 20rem;
  }
}

.showNav{
  transform: translate(0%);
}

.transparentBcg {
  visibility: visible;
}
/* ---------------End of navList ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Cart ---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  /* background: rgb(231, 226, 221); */
  background: linear-gradient(to left bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.8), var(--primaryColor));;
  opacity: .95;
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30%;
    min-width: 20rem;
  }
}

.close-cart {
  font-size: 2.5rem;
  cursor: pointer;
  transition: var(--mainTransition);
  color: var(--mainGrey);
}

.close-cart:hover{
  color: var(--primaryColor);
}

.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
  color: var(--primaryColor);
}
/*---------- Cart Item -------------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
}
.item-amount {
  text-align: center;
  color: var(--mainGrey);
}
.remove-item {
  color: grey;
  cursor: pointer;
  text-transform: capitalize;
  transition: var(--mainTransition);
}

.remove-item:hover{
  color: var(--mainGrey);
}
.fa-chevron-up,
.fa-chevron-down {
  color: var(--primaryColor);
  cursor: pointer;
}
/*---------- End of Cart Item -------------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  color: var(--primaryColor);
}

/* --------------- End of Cart ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Contact ---------------- */

.contact-container{
  max-width: 90vw;
  margin: 0 auto;
  display: grid;
  grid-row-gap: 1.5rem;
}

.contact-info{
  display: grid;
  justify-content: center;
  
}

.contact-item{
  margin: 1rem 0;
  padding: .5rem;
}

.contact-item__icon{
  font-size: 3rem;
  color: var(--primaryColor);
}

.contact-item__title{
  text-transform: uppercase;
  margin: .5rem 0;
  letter-spacing: var(--spacing);
  font-style: italic;
  color: var(--mainBlack);
}

.contact-item__text{
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-brown);
}

@media screen and (min-width: 768px){
  .contact-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 992px){
  .contact-map{
    align-self: center;
  }

  .contact-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 2rem;
  }

  .contact-info{
    grid-template-columns: 1fr;
  }
}






/* --------------- End of Contact ---------------- */

/* ------------------------------------------------------------------------------------------------ */

/* --------------- Footer ---------------- */

.footer{
  background: var(--clr-black-3);
  padding: 2rem;
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}


.copyright{
  color: var(--primaryColor);
  text-align: center;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
}


.banner__social-icon {
  background: var(--primaryColor);
  display: block;
  text-decoration: none;
  color: var(--mainWhite);
  border: .1rem solid var(--clr-white-1);
  border-radius: 50%;
  height: 1.8rem;
  padding: .25rem;
  text-align: center;
  transition: var(--mainTransition);
}

.banner__social-icon:hover {
  background: var(--mainBlack);
  color: var(--mainWhite);
  border: .1rem solid var(--primaryColor);
}

.banner__icons {
  width: 50%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 2rem);
  grid-column-gap: 1rem;
  justify-content: center;
}

/* --------------- End of Footer ---------------- */
